/* Navbar class */
.navbar {
    background-color: #424242;
    display: flex;
    justify-content: center; /* Align left and right */
    align-items: center;
    padding: 20px 20px;
  }
  
  /* Links within the navbar class */
  .navbar a { 
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(208, 207, 207);
    transition: color 0.3s ease-in-out; /* Transition effect */
  } 

  .navbar a:hover {
    color: #ffe3b6;
  }

  .navbar a.active {
    color: #ffb53f;
  }
  
  .left-link {
    padding-left: 5px;
    margin-left: 70px;
    margin-right: 50px;
  }

  .right-link {
    margin-left: 50px;
    margin-right: 50px;
  }

  .middle-link {
    align-items: center;
    margin-left: 70px;
    margin-right: 50px;
  }

