.diary-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    align-items: center;
  }

  h1 {
    font-size: 2.5rem;
    color: #2e2e2e;
  }

  .form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    max-width: 600px;
    margin: 0 auto; /* Center align the form horizontally */
    margin-top: 0px;
}

.form-container label {
    font-weight: bold;
    display: block;
    padding-bottom: 10px; /* Add more space between label and input field */
}

.form-container input,
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1.5px solid #ffb53f;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in the width */
}

.form-container textarea {
    min-height: 150px;
}

.form-container button {
    background-color: #ffb53f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
}

.form-container button:hover {
    background-color: #ffe3b6;
}

