.diary-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    align-items: center;
  }

  h1 {
    font-size: 2.5rem;
    color: #2e2e2e;
    margin-bottom: 20px;
  }

