.entry-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    color: #2e2e2e;
    text-align: center;
}
  
.entry-item h2 {
    margin: 0;
}
  
.entry-item p {
    margin: 5px 0;
    font-size: 1rem;
}

#entries {
    text-align: center;
}

.entry-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.entry-item {
    background-color:  #ffe3b6;
    border: 2px solid #ffb53f;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    width: 500px; 
}

#see-more {
    font-size: 1rem;
    color: #606060;
}

#see-more:hover {
    color: #ffb53f;
}

.details-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
  }

#loading {
    font-size: 2.5rem;
    color: #2e2e2e;
    margin-bottom: 20px;
    text-align: center;
}

#back-button {
    background-color:  #606060;
    border: 2px solid  rgb(208, 207, 207);
    color: rgb(208, 207, 207);
    font-size: 1em;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;;
    padding: 10px;
    margin: 0 auto;
    border-radius: 15px;
    width: 100px; 
}

#back-button:hover {
    color:  #ffb53f;
    border: 2px solid #ffb53f;
}